<ion-view view-title="Stock Items of the Service Call Out" cache-view="false" name="create-request-view">
    <ion-nav-buttons side="right">
      <!--button class="button button-icon button-clear ion-ios-close-empty" ng-click="cancel()"></button>&nbsp;&nbsp;&nbsp;&nbsp;-->
      <!--button class="button button-icon button-clear ion-trash-b" ng-click="removeItems()" style="font-size:25px !important;"></button-->
      <a class="button " href="#" ng-click="removeItems()">
        <i class="icon ion-trash-b" style="font-size:22px !important; color: #FFF;"></i>
      </a>&nbsp;&nbsp;&nbsp;
      <a class="button " href="#/main/dash_product_edit/{{activityId}}">
        <i class="icon ion-edit" style="font-size:22px !important; color: #FFF;"></i>
      </a>&nbsp;&nbsp;&nbsp;

    </ion-nav-buttons>
    <a class="button btn btn-right light" href="#/main/dash_product_add/{{activityId}}"><i class="ion-plus"></i></a>
    <ion-content class="padding">
        <!--<div class="spacer" style="height: 10px;"></div>-->
        <div class="item item-input-inset" >
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchQuery" placeholder="Search Stock Items"></input>
            </label>            
        </div>
        <div class="list">
            <div class="item item-thumbnail-left item-icon-right" ng-repeat="item in materials | filter:searchQuery" href="#" >
                <img ng-src="{{item.image}}">
                <h2>Code: {{item.code}}</h2>
                <p>Category: {{item.category}}</p>
                <p>Product: {{item.product}}</p> 
                <p>Price $: {{item.price}}</p>
                <p>Quantity: {{item.qttyRequest}}</p>
                <label class="checkbox" style="position: absolute; top: 6px; right: 6px;">
                    <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" >
                </label>            
            </div>
        </div>
        <div class="spacer" style="height: 10px;"></div>        
    </ion-content>
    <!--<div ng-include src="'templates/notifications.html'"></div>-->
</ion-view>