<ion-view view-title="Comments" name="create-request-view">
   
    <ion-content has-bouncing="true" class="has-header has-footer"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true" >

        
        <div ng-repeat="item in materials"
           class="message-wrapper">

           <div ng-if="user.created_byId !== item.created_byId">
               <img class="profile-pic left" 
                          ng-src="{{item.created_byPic}}" onerror="onProfilePicError(this)" />

               <div class="chat-bubble left">                    
                    <div class="message" >
                      <span >{{ item.comment }}</span>
                    </div>
                    <div class="message-detail">                              
                          <span class="bold">{{item.created_by}}</span>,
                          <span >{{item.created_date | date:'dd-MM-yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="user.created_byId === item.created_byId">
               <img class="profile-pic right" 
                          ng-src="{{item.created_byPic}}" onerror="onProfilePicError(this)" />
                          
               <div class="chat-bubble right">
                    <div class="message" >
                      <span >{{ item.comment }}</span>
                    </div>

                    <div class="message-detail">                              
                          <span class="bold">{{item.created_by}}</span>,
                          <span >{{item.created_date | date:'dd-MM-yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="cf"></div>
        </div>
        <div class="spacer" style="height: 80px;"></div>        
    </ion-content>

    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach style="margin-bottom: 45px;">
      <label class="item-input-wrapper">
        
        <input type="text" placeholder="Type your comment" on-return="addComment(); closeKeyboard()" ng-model="data.comment" on-focus="inputUp()" on-blur="inputDown()" />

      </label>
      <button class="button button-dark button-large" ng-click="addComment()">
        Add Comment
      </button>      
    </ion-footer-bar>
    
    <!--div ng-include src="'templates/notifications.html'"></div-->
</ion-view>