<ion-modal-view class="materialDetails">
  <ion-header-bar align-title="center" class="bar nav-bar" >
    <h4 class="title" style="color: #fff;">{{item.code}}</h4>

    <div class="buttons">
      <a class="button ion-close button-clear" href="#" ng-click="closeDetail()" style="font-size:22px !important;color: #FFF;">        
      </a>&nbsp;&nbsp;&nbsp;        
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item" ng-repeat="item in detail">
        {{item.text}}
        <span class="badge badge-stable" style="font-size:16px;">
          {{item.value}}
        </span>
      </div>
    </div>      
  </ion-content>
</ion-modal-view>