<ion-modal-view>
  <ion-header-bar class="bar nav-bar" >
    <h4 class="title" style="color:#fff">Add Material</h4>

    <div class="buttons">
     
     <!--a class="button ion-close button-clear" href="#" ng-click="closeModal()" style="font-size:22px !important; color: #FFF;">         
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="button ion-checkmark button-clear" href="#" ng-click="selectAdjustment()" 
          style="font-size:22px !important; color: #FFF;" >         
      </a>&nbsp;&nbsp;&nbsp;-->
      <a class="button icon-left ion-android-close button-clear button-assertive" style="color:#fff" ng-click="closeModal()">Cancel</a>&nbsp;&nbsp;&nbsp;
      <a class="button icon-left ion-android-done button-clear button-assertive" style="color:#fff" ng-click="addMaterial()">Save</a>&nbsp;

    </div>
  </ion-header-bar>

  <ion-content class="padding" >
    <form name="messageForm" >
      <div class="list">
         <div class="item item-stable" style="height: 55px;">
          <span style="font-size:20px !important;">Price per m2</span>                          
         </div>
         <div class="row">
          <div class="col">
              <label class="item item-input">
                  <span class="input-label">Quantity</span>
                  <input type="number" ng-model="item.qttyRequest"  min="0" >
              </label>
           </div>
         </div>
         <div class="row">
          <div class="col">
            <label class="item item-input">
               <span class="input-label">Height</span>
               <input type="number" ng-model="data.height"  min="0" >
           </label>
          </div>
          <div class="col">
            <label class="item item-input">
               <span class="input-label">Width</span>
               <input type="number" ng-model="data.width"  min="0" >
           </label>
          </div>
          
        </div>
         
         
         <div class="item item-stable" style="height: 55px;">
          <span style="font-size:20px !important;">Adjustments</span>                          
        </div>        
         <div class="item item-icon-left" ng-repeat="item in adjustments" >
            <label class="checkbox" style="position: absolute; top: 15px; left: 6px;">
                <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" >
            </label>
            <h2>Name: {{item.name}}</h2>
            <p>Amount: {{item.amount}}</p>            
                        
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>