<ion-view view-title="Settings" cache-view="false">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
        <ion-content padding="true">
                
              <div class="row responsive-md">
                    <div class="col col-33">
                        
                        <!--h4>Serviceman Home Address</h4-->
                        <div class="list ">
                        
                          <a class="item item-avatar item-divider item-icon-right" href="#/settingsAddressEdit/{{servicemanData.address.addressId}}">
                             <img src="img/serviceman/person.png">
                              
                              <h2>Address</h2>
                              <p>{{servicemanData.address.addressLine1}}</p>
                              <p>{{servicemanData.address.addressLine2}}</p>
                              <p>{{servicemanData.address.addressLine3}}</p>
                              <p>{{servicemanData.address.addressLine4}}</p>
                              <br/>
                              <h2>GPS</h2>
                              <p>Latitude: {{servicemanData.address.lat}}</p>
                              <p>Longitude: {{servicemanData.address.lng}}</p>
                              <br/>
                              <h2>Country</h2>
                              <p>{{servicemanData.address.country}}</p>
                              <br/>
                              <h2>Mobile</h2>
                              <p>{{servicemanData.mobile}}</p> 
                              <span class="item-note">
                                <i class="icon ion-chevron-right"></i>
                              </span> 

                          </a> 
                          
                          <div class="item item-icon-left " >
                            <i class="icon ion-flag positive"></i>
                            <span>Current Depot: Depot ABC</span>
                          </div>
                   
                        </div>
                      </div>
                      <div class="col col-67">

                        <div data-tap-disabled="true">
                            <div id="mapHomeAddress"></div>
                        </div>

                      </div>
                  </div>
              <div class="spacer" style="height: 45px;"></div>
                
        </ion-content>
      </ion-view>