/* Empty. Add your own CSS if you like */

#spinner {
  background: url(../img/hourglass.gif) no-repeat;
  width: 48px;
  height: 48px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -24px;
  margin-left: -24px;
}

.header-drawer {
    background: rgb(217,35,15) !important; /*#DF0101; rgb(143, 146, 150) rgb(217,35,15)*/
    padding: 15px;
    background-size: cover; 
    height: 130px;
}

.content-drawer {
    background-color: #F5F8FA  !important; /*#F0F0F0*/
    /*background-color: #7f8289;*/
}

.item-drawer {
    background-color: #F5F8FA !important;
    /*border-color: #a6a6a6;*/
    color: rgb(48,48,48);
    border-width: 0px;
}

.item-drawer .item-content {
    background-color: #50597b !important;
}

.item-drawer .icon {
    /*color: rgba(139, 0, 0, 0.7);*/
    color: #7F8289;
}

.theader {
    background-color: #DF0101;
    border: solid 1px #DF0101;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -1px;
}

.theader1 {
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -1px;
}

.tcol {
    /* border: solid 1px #eeeeee; 
    border-bottom-style: none;
    border-right-style: none; */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}

.trow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.tcol:last-child {
    /* border-right: solid 1px #eeeeee; */
}

.trow:last-child .col {
    /* border-bottom: solid 1px #eeeeee; */
}


/* Bar */

.bar {
    /*  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;*/
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26);
}


/* Button */

.button {
    border-radius: 2px !important;
    border-width: 0px !important;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #2196f3;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    font-size: 24px;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    width: 54px;
    height: 54px;
    border: 0px;
    position: fixed;
    bottom: 26px;
    z-index: 1000;
}

.btn:hover {
    background: #0272a2;
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn.activated {
    background: #262626;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
}

.btn-right {
    right: 26px;
    bottom:75px;
}

#map {
    width: 100%;
    float: left;
    height: 350px;
}


/*body {
  height: auto;
  min-height: 100%;
}*/


html, body {
      height: 100%;
      width: 100%;
  }

[ng-app]{
    height:100%;
}

#mapl {
    width: 100%;
    height: 600px;
}

#mapHomeAddress {
     width: 100%;
     height: 560px;
}

#mapVisit {
     width: 100%;
     height: 280px;
}

#map3 {
     width: 100%;
     height: 224px;
}

#map4 {
     width: 100%;
     height: 520px;
}

#mapEdit {
     width: 100%;
     height: 560px;
}

#mapOvernight {
    width: 100%;
    height: 560px;
}

#mapOvernightEdit {
    width: 100%;
    height: 560px;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}


#directionsPanel {
    width: 30%;
    float: right;
    height: 350px;
    overflow: auto;
    display: none;
}

.big-popup .popup {
    width: 350px;
}


/*.full-width-tab{
  max-width:100% !important;
}

.badge-container{
      position: relative;
}*/

/*.item .icon .icon-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
}*/

.item .icon .icon-badge {
  position: relative;
  top: -4px;
  right: 9px;
  font-size: 9px;
}

.item-content {
  /*background-color: #444444; */
  background-color: rgb(217,35,15) !important;
  border: 0px;
}

.custom-icon {
  font-size: 24px !important;
  color : #ffffff;
}

.popover {
    height: auto !important;
    width: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

/*.item-content {
  background-color:#ffffff;
}*/

.item .item-content {
  background-color: transparent !important;
}



/*General marker style*/
.map-marker {
  position: relative;
  text-align: center;
  font-weight: bold;
  background: #444;
  width: 28px;
  height: 26px;
  border-radius: 5px;
  border-style: solid;
  border-color: red;
  margin-top: -41px; /*Shift by arrow top+height*/
  margin-left: -13px; /*Shift by half the marker width*/
  
}


.map-marker div.icon {
  position: relative;
  overflow: hidden;
  background-repeat:no-repeat;
  background-position:center;
  background-color: #F0F8FF;
  width: 24px; /*Same as marker width*/
  height: 24px; /*Same as marker height*/
  line-height: 24px;
  font-size: 8px;
  border: 2px solid #0080ff;
  border-radius: 4px;
  margin-left: 1px;
  margin-top: 1px;

}

/*Marker content instances*/
.map-marker.exclamation div.icon:before{
  content: '!';
}
.map-marker.A div.icon:before{
  content: 'A';
}

/*Marker color instances*/
.map-marker.red div.icon{background: #ff2222;}

.map-marker.green div.icon{background: #008800; color: #fff;}
.map-marker.green {background: #000;}
.map-marker.green div.arrow{border-top-color: #000;}

/*Marker states*/
.map-marker.inactive {
  opacity: 0.6;
}


/* Menu ==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}


.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: 500;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/*Login*/


.login-bg {
    /*background: #fff url("../img/back1.jpg") repeat-x fixed center;*/
    /*background: #fff url("../img/back1.jpg") center;*/
    /*background: rgb(232, 232, 232);*/
    background-image:    url("../img/background2.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

.login-box {

    background: rgba(255,255,255,.9);
    border-radius: 5px;
    width: 480px;
    padding: 10px 30px;
    margin: auto;
    
}


.login-logo {
    /*background:#DF0101;
  padding:10px;
    border-radius: 5px;
    margin-top: -20px;*/
    max-width: 333px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.app-icon {
    background-color: #485864;
    /*background: url('../img/logo1.png') center;*/
    background-size: cover;
    border-radius: 70%;
    height: 90px;
    width: 90px;
    /*margin-top: 50px;*/
    margin: auto !important;
    /*margin-top: auto !important;*/
    
    position: relative; bottom: 185px; 
}

.icon-circle, .icon-circle i {
  text-align:center;
  color:white;

}

.icon-circle i {
 margin: 0px auto;
  padding: 0px;
  display:block;
  /* position: absolute */
  font-size:40px;
   position: relative; top: 24px; 

}

.background-intro {
  /*background-color: rgb(98, 98, 110) ;*/
  background: rgba(98, 98, 102,.9);
  background-size: cover;
  background-position: center;  

}


.nav-bar{
  background: rgb(217,35,15) !important;
  color: #FFF;
  border: 0px;
}

.nav-bottom{
  background: rgb(217,35,15) !important;
  color: #FFF;
  border: 0px;
}

.mybadge{
  background: rgb(217,35,15); /*#6E1107;*/
  color: #FFF;
  font-family: monospace;
}

.option{
  font-size:22px !important; 
  color: #FFF;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}



    [ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    [ng-drag]{
        
    }
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
    .draggable-objects li{
        float:left;
        display: block;
    }
    [ng-drag].drag-over{
        border:dashed 1px #18BC9C;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{
        
    }
    [ng-drop].drag-enter{
        border:dashed 5px #18BC9C;
    }


.leaflet-popup-content {
width:390px !important;
}

.custom {
  background-color: #7f8289  !important; /* This sets the background color*/
 }

.spacer {
    height: 5px;
}

.custom-list .item-complex .item-content, .custom-list .item-radio .item-content {
    padding: 4px 24px 4px 4px;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    left: 1px !important;
    top: 0px !important; 
}

@media (min-width: 680px) {
  .startModal {  
     width: 40%; 
     height: 10%; 
     top: 30%; 
     left: 30%; 
     right: 5%; 
     bottom: 5%;
  }
}

@media (min-width: 680px) {
  .endModal {  
     /*width: 40%; */
  }
}

@media (min-width: 680px) {
  .statusModal {  
     /*width: 30%;      */
  }
}


/***/

.scroll {
  /*padding: 10px 0 50px !important;*/
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.bold {
  font-weight: bold;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}
/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}


.cf {
  clear: both !important;
}



.popupmap .item-radio .radio-icon {
    color: #18BC9C;
    padding: 2px 8px;
}

.popupmap .item-radio .item-content {
    padding: 0px 32px 0px 0px;
}

.popupmap .item {
    padding: 8px;
}

.popupmap .item-checkbox {
    padding-left: 60px;
}

.item-radio .radio-icon {
    color: #18BC9C;
}

.item h2 {
    margin: 0 0 2px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.item-checkbox-all {
    font-size: 26px !important;
    position: absolute !important;
    top: 0px;
    padding-left: 12px !important;
}

.item-md-label {
    padding-top: 24px;
}

.item-notifications{
    padding: 8px;
}

.item-notifications .badge {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 10px;
}

.item-strech .item-content {
    padding: 4px;
}

.list-calendar{
    pointer-events: auto !important;
}

.list-calendar .item{
    background-color: #fff;
    border-color: rgba(90, 172, 156, 0.30);
}

.list-calendar .item-busy{
    background-color: rgba(90, 172, 156, 0.12);
}

.list-calendar .item-blank{
    height: 80px;
}

.no-shadow{
    box-shadow: none;
}

.button-dialogs{
    max-width: 120px;
    margin: 0px 4px;
    font-size: 16px !important;
}
   